{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "tabWidth": 2,
        "printWidth": 80,
        "singleQuote": false,
        "parser": "html"
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "tabWidth": 2,
        "printWidth": 1200000000000,
        "singleQuote": true,
        "parser": "markdown"
      }
    },
    {
      "files": ["*.scss"],
      "options": {
        "tabWidth": 2,
        "printWidth": 120,
        "singleQuote": true,
        "parser": "css"
      }
    }
  ]
}
